ul{
  border:solid 3px;
  background-color: black;
  
  }
  
  li {
    width:100%;
    color:white;
    display:flex;
    margin-left: 5%;
    
  }
  .numberBox{
    border:solid 3px;
    background-color: white;
    color: black;
    height: 30%;
    width:30px;
    padding: 18px 1px 18px 22px;
    border-radius: 10px;
    align-self: center;
    font-weight: bold;
  }
  
  .text{
    margin-left:20px;
  }
  
  h2{
    margin-bottom:0px;
  }
  
  p{
    margin-top:5px;
  }