#root {
  max-width: 1280px;

  text-align: center;

}

/* NavBar Section */

#div-nav{ 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: #D95D0F;
  width: 1280px;
  height: 100px;

}

#div-nav p {
  color: #000;
  font-weight: bolder;
  margin-left: 4rem;

}

#div-search input{
  margin-right: 4rem;
  border-radius: 0.7rem;
  width: 10rem;
  height: 2.5rem;
  background-color:#D9D9D9;
  text-align: center;
  font-weight: 600;
  font-size: x-small;
  border: 0.5px solid black;

}

#div-search input::placeholder {
  color: #000


}


ul{
  border:solid 3px;
  background-color: black;
  
  }
  
  li {
    width:100%;
    color:white;
    display:flex;
    margin-left: 5%;
    
  }
  .numberBox{
    border:solid 3px;
    background-color: white;
    color: black;
    height: 30%;
    width:30px;
    padding: 18px 1px 18px 22px;
    border-radius: 10px;
    align-self: center;
    font-weight: bold;
  }
  
  .text{
    margin-left:20px;
  }
  
  h2{
    margin-bottom:0px;
  }
  
  p{
    margin-top:5px;
  }


/*Footer Starts*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination a,
.pagination span {
  margin: 0 5px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.pagination .page-box {
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid #D95D0F;
  color: white;
  background-color: #D95D0F;
  border-radius: 4px;
  cursor: pointer;
}

.pagination a.active,
.pagination span.active {
  font-weight: bold;
}

.pagination .ellipsis {
  color: #ffffff;
  font-weight: bold;
}

.pagination-link {
  color: #ffffff;
  font-weight: bold;
}



/*Footer Ends*/

